NET "bntDo" LOC = "M18" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "btnRe" LOC = "L18" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "btnMi" LOC = "M16" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "btnFa" LOC = "L17" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "bntSol" LOC = "K17" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "btnLa" LOC = "K18" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "btnSi" LOC = "C17" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "CLK" LOC = "V10" | IOSTANDARD = LVCMOS33 | PERIOD = 100MHz;
NET "Sonido[0]" LOC = "H17" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "Sonido[1]" LOC = "H18" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "Sonido[2]" LOC = "J16" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "Sonido[3]" LOC = "J18" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "Sonido[4]" LOC = "K15" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "Sonido[5]" LOC = "K16" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "Sonido[6]" LOC = "L15" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "Sonido[7]" LOC = "L16" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;

