NET "bntDo" LOC = "K18" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "btnRe" LOC = "K17" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "btnMi" LOC = "L17" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "btnFa" LOC = "M16" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "CLK" LOC = "V10" | IOSTANDARD = LVCMOS33 | PERIOD = 100MHz;
NET "Sonido[0]" LOC = "H17" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "Sonido[1]" LOC = "J16" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "Sonido[2]" LOC = "K15" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "Sonido[3]" LOC = "L15" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;

